.filters {
  max-width: 1200px;
  margin: 20px auto;
  padding-left: 20px;
}

::ng-deep {
  .mat-form-field-infix {
    background-color: transparent;
  }
  .mat-select-value,
  .mat-select-arrow,
  .mat-form-field-hide-placeholder .mat-select-placeholder,
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #fff !important;
    opacity: 1;
  }
  .mat-form-field-appearance-legacy .mat-form-field-label {
    padding-left: 5px;
  }
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
}

.game {
  width: 280px;
  margin: 10px;
  height: 330px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #202020;
  box-shadow: 2px 1.5px 5px 0px rgb(101 50 116 / 22%);
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 4px 3px 11px 6px rgb(101 50 116 / 46%);
    transform: translateY(-10px);
  }
  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 172px;
    width: 100%;
    
  }
  &-thumbnail:hover {
    filter: blur(0.9px);
    transition-duration: 0.3s;
  }
  &-thumb-container {
    background-color: #000;
    position: relative;
    height: 172px;
    color: #fff;
    text-align: center
    
  }
  &-name {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &-description {
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 157px;
  }
  &-platforms {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  &-platform {
    width: 20px;
    margin-right: 10px;
  }
  &-score{
    display: flex;
    justify-content: end;
    color: white;
    text-transform: uppercase;
  }
}
