<div class="filters">
  <mat-form-field>
    <mat-label>Sort: </mat-label>
    <mat-select
      panelClass="sort-select"
      [(ngModel)]="sort"
      (selectionChange)="searchValues(sort!)"
    >
      <mat-option value="name">Name</mat-option>
      <mat-option value="-reeleased">Released</mat-option>
      <mat-option value="-added">Added</mat-option>
      <mat-option value="-created">Created</mat-option>
      <mat-option value="-updated">Updated</mat-option>
      <mat-option value="-rating">Rating</mat-option>
      <mat-option value="metacritic">Metacritic</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="genres">
  <ng-container *ngFor="let genre of valuesListGenres">
    <div class="genres-container">
      <a
        class="genres-types"
        role="button"
        (click)="searchByGenreValues(genre.id)"
        >{{ genre.name }}</a
      >
    
    </div>
  </ng-container>
</div>
<div class="games">
  <ng-container *ngFor="let value of valuesList">
    <div class="game" (click)="openValueDetails(value.id)">
      <div class="game-thumb-container">
        <img
          class="game-thumbnail"
          *ngIf="value.background_image"
          src="{{ value.background_image }}"
          alt="thumbnail"
        />
        <p *ngIf="!value.background_image">No image</p>
      </div>
      <div class="game-description">
        <p class="game-name">{{ value.name }}</p>
        <div class="game-platforms">
          <img
            *ngFor="let supPlatform of value.parent_platforms"
            class="game-platform"
            title="{{ supPlatform.platform.name }}"
            src="assets/images/platforms/{{ supPlatform.platform.slug }}.svg"
            alt="{{ supPlatform.platform.slug }}"
          />
        </div>
        <br />
        <p class="game-score">
          Score: {{ value.rating > 0 ? value.rating : "N/A" }}
        </p>
      </div>
    </div>
  </ng-container>
</div>
